<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--测试的时候提示不能加载  <properties resource= "classpath:properties/jdbc.properties" />-->
	<properties>
		
		<property name="log" value="classpath:properties/log4j.properties"/>
	</properties>
	<!-- 别名 -->
	<typeAliases>
		<typeAlias type="wanghuan.mybatis.pojo.Student" alias="Student"/>
	</typeAliases>
    <!-- 和Spring整合后environment配置都会被干掉 -->
    <environments default="development">
        <environment id="development">
            <!-- 使用jdbc事务管理，目前由mybatis来管理 -->
            <transactionManager type="JDBC" />
            <!-- 数据库连接池，目前由mybatis来管理 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/ittask1" />
                <property name="username" value="root" />
                <property name="password" value="root" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
    	<mapper resource="mapper/StudentMapper.xml" />
    </mappers>
</configuration>