<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="wanghuan.mybatis.mapper.StudentMapper">
	<resultMap type="wanghuan.mybatis.pojo.Student" id="studentResultMap">
		<id property="id" column="sid"/>
		<result property="sName" column="s_name"/>
		<result property="sAge" column="s_age"/>
	</resultMap>
	<select id="findStudentById" parameterType="int" resultMap="studentResultMap">
		select * from student1 where sid = #{id}
	</select>
	
	<insert id="addStudent" parameterType="wanghuan.mybatis.pojo.Student">
		insert into student1(sid,s_name,s_age) values(#{id},#{sName},#{sAge})
	</insert>
	
	<delete id="deleteStudent" parameterType="int">
		delete from student1 where sid = #{id}
	</delete>
</mapper>